body { 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
  }

header {
    height: 100px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding-top: 0.3in;
    text-align: center;
}

main div {
    width: 50%;
    height: 250;
    float: left;     
  }

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 0.1in;
    color: #000000;
    
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 0.1in;
    color: #000000;
    
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    padding: 0.1in;
    text-align: center;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000000;
    text-align: center;
    margin-top: 30px;
  }

  ol {
      list-style: none;
       counter-reset: li
    }

    ol li::before {content: counter(li); 
        color: black;
        width: 1em; 
        padding: 0.1in;
        clear: left;
        margin-left: -1.5em;
        margin-right: 0.5em; 
        text-align: right; 
        direction: rtl
        
    }

ol li {
    counter-increment: li
}